/* Apply styles based on the defined themes */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px !important;
  /* height: 50px; */
  border-bottom: 1px solid var(--light-border);
  position: sticky !important;
  top: 0;
  background-color: var(--light-bg);
  color: var(--light-textColor);
  z-index: 999;
}

/* Left side of the navbar */
.navbar .left {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* Style the span element inside .left */
.navbar .left span {
  font-weight: bold;
  font-size: 20px;
  color: var(--light-logo);
}

/* Style the search bar */
.navbar .left .search {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--light-border);
  border-radius: 5px;
  padding: 5px;
}

/* Style the input inside the search bar */
.navbar .left .search input {
  border: none;
  width: 500px;
  background-color: transparent;
  color: var(--light-textColor);

  /* Media queries for responsive design */
  @media (max-width: 768px) {
    display: none;
  }

  @media (max-width: 1024px) {
    width: 200px;
  }
}
.navbar .left .search input:focus {
  outline: none;
}
/* Right side of the navbar */
.navbar .right {
  display: flex;
  align-items: center;
  gap: 20px;

  /* Hide the entire right section on mobile */
  @media (max-width: 768px) {
    display: none;
  }
}
.leftBar .container .menu .shortcuts,
.leftBar .container .menu .others {
  font-weight: 700 !important;
  font-size: 14px;
}
/* Style the user section in the right side */
.navbar .right .user {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;

  /* Hide the user section on tablets */
  @media (max-width: 1024px) {
    display: none;
  }
}

/* Style the user's image */
.navbar .right .user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

/* Style the user's name */
.navbar .right .user span {
  /* Add your styles here */
}
.fa-house,
.fa-moon,
.fa-table-cells-large,
.fa-user,
.fa-envelope,
.fa-bell {
  font-size: 20px;
  color: var(--light-textColor);
  cursor: pointer;
}
.container-content {
  display: flex;
}

/*================= LEFT BAR====================== */
/* Import external styles */

.leftBar {
  /* Apply styles based on the defined themes */
  flex: 2;
  margin-right: 20px;
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  overflow: scroll;
  background-color: var(--light-bg); /* Assuming themed("bg") is a variable */
  color: var(
    --light-textColor
  ); /* Assuming themed("textColor") is a variable */

  /* Hide on mobile */
  @media (max-width: 768px) {
    display: none;
  }

  /* Hide scrollbar */
  &::-webkit-scrollbar {
    display: none;
  }
}

/* Styles for .container */
.leftBar .container {
  padding: 20px;
}

/* Horizontal rule styles */
.leftBar .container hr {
  margin: 20px 0px;
  border: none;
  height: 0.5px;
  background-color: var(
    --light-border
  ); /* Assuming themed("border") is a variable */
}

/* Styles for .menu */
.leftBar .container .menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Styles for span elements inside .menu */
.leftBar .container .menu span {
  font-size: 12px;
  font-weight: 500;
}

/* Styles for .user section */
.leftBar .container .menu .user {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Styles for user's image */
.leftBar .container .menu .user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

/* Styles for user's name */
.leftBar .container .menu .user span {
  font-size: 14px;
}

/* Styles for .item section */
.leftBar .container .menu .item {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Styles for item's image */
.leftBar .container .menu .item img {
  width: 30px;
}

/* Styles for item's text */
.leftBar .container .menu .item span {
  font-size: 14px;
}

/* OUTLET */
.outlet {
  flex: 6;
}
/* RIGHT BAR */
/* Import styles from "../../style.scss" here if needed */

.rightBar {
  flex: 3;
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  overflow: scroll;
  background-color: var(--bgSoft);
}

@media screen and (max-width: 768px) {
  .rightBar {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .rightBar {
    display: none;
  }
}

.rightBar::-webkit-scrollbar {
  display: none;
}

.rightBar .container {
  padding: 20px;
}

.rightBar .item {
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  padding: 20px;
  margin-bottom: 20px;
  background-color: var(--bg);
}

.rightBar span {
  color: gray;
}

.rightBar .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.rightBar .user .userInfo {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.rightBar .user .userInfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.rightBar .user .userInfo .online {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: 0;
  left: 30px;
}

.rightBar .user .userInfo p {
  color: var(--textColorSoft);
}

.rightBar .user .userInfo span {
  font-weight: 500;
  color: var(--textColor);
}

.rightBar .user .buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rightBar .user .buttons button {
  border: none;
  padding: 5px;
  color: white;
  cursor: pointer;
}

.rightBar .user .buttons button:first-child {
  background-color: #5271ff;
  padding: 10px;
  border-radius: 6px;
}

.rightBar .user .buttons button:last-child {
  background-color: #f0544f;
  padding: 10px;
  border-radius: 6px;
}

/* STORIES */
/* Import styles from "../../style.scss" here if needed */

.stories {
  display: flex;
  gap: 10px;
  height: 250px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .stories {
    height: 50px;
    margin-bottom: 0;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1024px) {
  .stories {
    height: 150px;
    gap: 20px;
  }
}

.stories .story {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 768px) {
  .stories .story {
    flex: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.stories .story img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stories .story span {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .stories .story span {
    display: none;
  }
}

.stories .story button {
  position: absolute;
  bottom: 40px;
  left: 10px;
  color: white;
  background-color: #5271ff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .stories .story button {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
.modal-title {
  text-align: center;
}

.edit-profile {
  width: 70%;
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
  background-color: #e4e6eb;
  align-items: center;
  display: flex;
  justify-content: center;

  border: none;
  color: #050505;
  display: block;
}
.edit-profile i {
  margin-right: 8px;
}
.edit-profile a {
  font-weight: 600;
}

.edit-profile:hover {
  background-color: #d4d6db;
}
